body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.list-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow-y: auto;
}

.item {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.row {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

.actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.icon {
    font-size: 24px; /* 例として24pxを指定 */
    vertical-align: middle; /* 縦方向の中央揃え */
  }
  
  .instagram-icon {
    display: inline-block;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    width: 24px; /* 他のアイコンと同じサイズに */
    height: 24px; /* 他のアイコンと同じサイズに */
    border-radius: 6px; /* サイズに応じてボーダーラジウスも調整 */
    position: relative;
    vertical-align: middle; /* 縦方向の中央揃え */
  }
  
  .instagram-icon:before {
    content: "";
    display: block;
    background: white;
    width: 16px; /* アイコンのサイズに応じて調整 */
    height: 16px; /* アイコンのサイズに応じて調整 */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .instagram-icon:after {
    content: "";
    display: block;
    background: white;
    width: 4px; /* アイコンのサイズに応じて調整 */
    height: 4px; /* アイコンのサイズに応じて調整 */
    border-radius: 50%;
    position: absolute;
    top: 15%; /* アイコンのサイズに応じて調整 */
    right: 15%; /* アイコンのサイズに応じて調整 */
  }